<section class="header">
	<div class="content-wrapper">
		<header>
			<a href="/"><div class="logo">
				<img class="desktop logo-dark" src="images/logos/logo.png" />
				<img class="desktop logo-white" src="images/logos/logo_white.png" />
			</div></a>
			<div class="hamburger">
				<span></span>
				<span></span>
				<span></span>
			</div>
			<nav>
				<a href="about-us">About Us</a>
				<!-- <a href="industries">Industries</a> -->
				<a href="careers">Careers</a>
				<a href="contact-us">Contact Us</a>
			</nav>
		</header>
	</div>
</section>